NEXTAUTH_SECRET="ugfpWpY1mq9O8kxjI5oF2S8Fl/NjJO5egHDvO/AKU+k=" # Added by `npx auth`. Read more: https://cli.authjs.dev
API_URL_PREFIX="http://127.0.0.1:8000"
# API_URL_PREFIX="https://backend.officehassle.com"
AUTH_TRUST_HOST="http://localhost:3090"
# AUTH_TRUST_HOST="https://pm.officehassle.com"
NEXTAUTH_URL="http://localhost:3090"
# NEXTAUTH_URL="https://pm.officehassle.com"
API_WS_PREFIX="http://127.0.0.1:8000"
